body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 20px;
	background-color: #f4f4f4;
}

h1 {
	color: #333;
}

p {
	margin-bottom: 20px;
	color: #666;
}

ul {
	list-style-type: none;
	padding: 0;
}

ul li {
	background-color: #e2e2e2;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
}

@media (max-width: 600px) {
	body {
			background-color: #ddd;
	}
}